{% extends "base.html" %}

{% block content %}
<div class="hero">
    <div class="hero-content">
        <h1>Твоя спортивная сеть.<br>Твои результаты.</h1>
        <p>Отслеживай тренировки, делись прогрессом и находи единомышленников.</p>

        <a href="/register" class="btn btn-primary">Начать</a>
        <a href="/about_us" class="btn btn-secondary">Подробнее</a>
    </div>

</div>


<section class="features">
    <div class="card">
        <h3>📊 Поддержка</h3>
        <p style="color: wheat">Делись своими результатами с другими спортсменами и получи поддержку.</p>
    </div>

    <div class="card">
        <h3>🔥 Мотивация</h3>
        <p style="color: wheat">Лента спортсменов помогает держать дисциплину каждый день.</p>
    </div>

    <div class="card">
        <h3>🤝 Сообщество</h3>
        <p style="color: wheat">Найди людей с такими же целями и тренируйся вместе.</p>
    </div>

</section>

<div class="banner">
    <div class="banner-text">
        <h2>Каждая тренировка имеет значение</h2>
        <p>Делись прогрессом, анализируй рост и становись сильнее.</p>
    </div>
</div>
{% endblock %}