{% extends "base.html" %}

{% block content %}

<h1 class="feed-title">Ваша лента</h1>

<div>
    {% for post, delta, likes in posts %}
    <div class="post">
        <div class="post-content">
            <div class="post-header">
            <span class="post-info">
                {{ post.author }} {{ delta }}
            </span>
            </div>

            <h2 class="post-title">
                {{ post.title }}
            </h2>

            <div class="image-wrapper">
                <img src="/api/images/{{post.id}}" alt="Изображение">
            </div>

            <div class="post-body" style="white-space: pre-wrap; word-break: break-word;">
                {{ post.text }}
            </div>

            <div class="post-footer">
                <button onclick="toggleLike({{post.id}}, {{current_user.id}}, this)">
                    ♡ {{ likes }}
                </button>
                <a class="post-link-btn" href="/view_post/{{ post.id }}">
                    Открыть пост
                </a>

            </div>

        </div>

    </div>

    {% endfor %}

</div>

<script>
    function toggleLike(post_id, user, btn) {
        console.log("CLICK", post_id);
        fetch(`/api/post/${post_id}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                user: user,
                likes: 1
            })
        })
            .then(res => res.json())
            .then(data => {
                console.log(data);
                btn.innerText = `♡ ${data.likes}`;
            });
    }
</script>

{% endblock %}