{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<h1 style="margin-top: 2%; text-align: center">Ваш профиль</h1>
<h4 style="text-align: left; margin-top:3%">Имя : {{ name }}</h4>
<h4 style="text-align: left; margin-top:3%">Фамилия : {{ surname }}</h4>
<h4 style="text-align: left; margin-top:3%">Возраст : {{ age }}</h4>
{% if sport %}
<h4 style="text-align: left; margin-top:3%">Вид спорта: {{ sport }}</h4>
{% else %}
<h4 style="text-align: left; margin-top:3%">Вид спорта: Не указан</h4>
{% endif %}
<div>
    <button onclick="deleteUser({{current_user.id}})" class="btn btn-danger">Удалить профиль</button>
    <a href="/profile/edit" class="btn btn-warning">Редактировать</a>
</div>

<script>
    function deleteUser(id) {
        fetch(`/api/users/${id}`, {
            method: 'DELETE'
        })
    }
</script>
{% else %}
<h2 style="margin-top: 2%; text-align: center">Вы не зарегистрированы</h2>
{% endif %}
{% endblock %}