{% extends "base.html" %}

{% block content %}
<section class="subs-page">

    <h1 class="subs-title">Ваши подписки</h1>

    <div class="subs-container">

        {% for us_id, name, surname in subs %}

        <div class="sub-card">

            <div class="sub-user-info">

                <div class="sub-avatar">
                    {{ name[0] }}{{ surname[0] }}
                </div>

                <div class="sub-user-text">
                    <h2>{{ name }} {{ surname }}</h2>
                    <p>Спортсмен SportHub</p>
                </div>

            </div>

            <button onclick="toggleSubscribe({{ current_user.id }}, {{ us_id }}, this)"
                    class="sub-btn">
                Отписаться
            </button>

        </div>

        {% endfor %}

    </div>

</section>

<script>
    function toggleSubscribe(user_id, sub_id, btn) {
        console.log('Click', sub_id, user_id)
        fetch(`/api/users/${user_id}`, {
            method: 'PATCH',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                subscription_user: sub_id
            })
        })
            .then(res => res.json())
            .then(data => {
                console.log(data);
                btn.innerText = data["new_btn_text"];
            });

    }
</script>
{% endblock %}