{% extends "base.html" %}

{% block content %}
<div class="post">

    <div class="post-content">


        <div class="post-header">
            <span class="post-info">
                {{ post.author }} {{ delta }}
            </span>
        </div>


        <h2 class="post-title">
            {{ post.title }}
        </h2>


        <div class="post-body">
            {{ post.text }}
        </div>


        <div class="post-footer">
            <button class="like-btn"
                    onclick="toggleLike({{ post.id }}, {{ current_user.id }}, this)">
                ♡ {{ likes_count }}
            </button>
        </div>


        <div class="comments-wrapper">
            <br>
            <div class="comments-title">
                Комментарии ({{ post.comments|length }})
            </div>


            <div class="comments-section">
                <div class="comment-bar">

                    <form method="post" class="comment-form">

                    <textarea name="comment"
                              class="comment-input"
                              placeholder="Написать комментарий..."
                              rows="1"></textarea>

                        <button type="submit" class="comment-submit">
                            Отправить
                        </button>

                    </form>

                </div>
                {% for comment in post.comments %}
                <div class="comment">
                    <div class="comment-header">
                            <span class="comment-author">
                                {{ comment.user.name }} {{ comment.user.surname }}
                            </span>
                    </div>
                    <div class="comment-text">
                        {{ comment.content }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    function toggleLike(post_id, user, btn) {
        fetch(`/api/post/${post_id}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                user: user,
                likes: 1
            })
        })
            .then(res => res.json())
            .then(data => {
                console.log(data);
                btn.innerText = `♡ ${data.likes}`;
            });
    }

    const textarea = document.querySelector(".comment-input");

    function autoResize(el) {
        el.style.height = "auto";           // сброс
        el.style.height = el.scrollHeight + "px"; // установка по контенту
    }

    textarea.addEventListener("input", function () {
        autoResize(this);
    });
</script>
{% endblock %}