body {
    background-color: rgb(46 112 21 / 0.77);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.post {
    display: flex;
    background-color: rgb(237 232 232 / 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    margin: 20px auto;
    overflow: hidden;
    transition: border-color 0.2s;
}

.post:hover {
    border-color: #898989;
}

/* Основной контент */
.post-content {
    padding: 10px;
    width: 100%;
}

.post-header {
    font-size: 12px;
    color: #787c7e;
    margin-bottom: 8px;
}


.post-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px 0;
    color: #1c1c1c;
}

.post-footer {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.post-footer button {
    background: none;
    border: none;
    color: #878a8c;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
}

.post-footer button:hover {
    background-color: #e5e5e5;
}
